# This is a .env file where you should add sensitive data.
# It is important to note that this file should not be shared or committed to version control systems, as it contains sensitive information such as API keys, passwords, and other credentials.
# Make sure to replace the placeholders in this file with the actual sensitive data required by your application.
# Keeping this file secure is crucial to protect your application and its data from unauthorized access.

#Important!!!: This file should be renamed to .env

# Discord Bot Token
DISCORD_TOKEN=""

#Guild ID
GUILD=""
